{% extends "base_generic.html" %}

{% block content %}
<style>
  body {
    text-align: left;
  }
</style>
{% csrf_token %}
<div class="container text-center">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Groups</h5>
      <p class="card-text">
        {% if groups_list %}
      <ul>
        {% for group in groups_list %}
        <li>
          <a href="{% url 'group'%}?id={{group.id}}">{{ group.title }} ({{ group.faculty }})</a>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>There are no groups for now..</p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}