{% extends "base_generic.html" %}

{% block content %}

<br><br>
<h1 style="font-family:georgia,garamond,serif;font-size:50px;font-style:italic;">Contacts</h1>
<style>
  h1,
  p {
    color: white;
  }
</style>

<br>
<p>
  Write to us if you want to enroll in the University of SUON!
</p>
<ul>
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item">Phone number:</li>
    <li class="list-group-item">+7 903 542 65 42</li>
  </ul>
  <br>
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item">Email:</li>
    <li class="list-group-item">suon2023@gmail.com</li>
  </ul>
  <br>
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item">Telegram:</li>
    <li class="list-group-item">@suon2023</li>
  </ul>
</ul>

{% endblock %}